* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

/* Header and Footer */

.header {
  background-color: #7286d3;
  height: 160px;
}

.header-items {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-right: 112px;
}

.header-navigation-div {
  height: 24px;
  left: 500px;
  position: absolute;
  top: 68px;
  width: 1265px;
}

.footer {
  background-color: white;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Page Divider */

.page-divider-div {
  text-align: center;
}

.page-divider {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  margin-left: 20px;
  margin-top: 20px;
  width: 15px;
}

.first {
  margin-left: 0px;
}

/* Section Div */

.section {
  height: 600px;
}

/* About Me */
.about-me {
  display: grid;
  column-gap: 40px;
  grid-template-columns: auto auto;
  padding: 20px;
}

.about-me p {
  height: 100px;
  font-size: 20px;
  margin-top: 200px;
  text-align: center;
  width: 600px;
}

.profile-pic {
  border-radius: 50%;
  height: 400px;
  margin-left: 120px;
  margin-top: 100px;
  width: 400px;
}

.circle {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  height: 400px;
  left: 260px;
  position: absolute;
  top: 148px;
  width: 400px;
}

.education,
.contact-me {
  background-color: #7286d3;
}
