* {
  font-family: "Poppins", sans-serif;
}

/* Home */
.home-button {
  position: absolute;
  margin-left: 50%;
}

.home {
  /* TODO: Change later */
  height: 100vh;
  background-color: #f7f7f7;
}

.row {
  margin: 0;
  text-align: center;
}

/* Section Backgrounds */
.section {
  margin: 0;
  padding: 5% 5%;
  text-align: center;
}

.what-i-do.section,
.portfolio.section,
.get-in-touch.section {
  background-color: #f7f7f7;
}

/* About Me */
.hr {
  height: 5px;
  border: none;
  background-color: #17c964;
  opacity: 1;
  margin: auto;
  width: 7%;
}

.know-me-more {
  margin-bottom: 5%;
  margin-right: 7%;
  text-align: left;
}

.know-me-more-li {
  margin-bottom: 5%;
  text-align: left;
}

ul {
  margin-left: 0% !important;
}

.li-hr {
  opacity: 1;
}

.li-a {
  color: #17c964;
}

.li-b {
  padding-right: 1.5%;
}

.asdasdasd {
  background: linear-gradient(#697177, #697177) no-repeat center/1px 100%;
}

/* What I Do */

.what-i-do-text {
  display: inline-block;
  margin-bottom: 10%;
  margin-right: 5%;
  text-align: left;
}

.what-i-do-text i {
  color: #17c964;
  font-size: 3rem;
}

/* Resume */

.float-end {
  float: "right";
}

/* Testimonial */

.fa-angle-left,
.fa-angle-right {
  color: #17c964 !important;
  font-size: 3rem;
}

.carousel-item {
  padding: 2% 0;
}

.carousel-indicators {
  background-color: #17c964;
}

/* Get In Touch */
.contact-div {
  text-align: left;
}

.contact-div i {
  color: #17c964;
  font-size: 1.25rem;
  padding-right: 5%;
}

/* Footer */
.footer {
  padding: 5% 0;
}

.footer-text {
  padding-left: 5%;
}

/* .profile-pic {
  border-radius: 50%;
  width: 80%;
  margin-bottom: 5%;
}

.about-me p {
  font-size: 1.25rem;
}

.about-me h1 {
  font-size: 2rem;
} */

/* .row {
  margin: 0;
  padding: 2%;
  text-align: center;
} */

/* Education */

/* .education-text {
  color: white;
  font-size: 2rem;
  margin-bottom: 5%;
  text-align: center;
}

.education img {
  margin-bottom: 5%;
  width: 50%;
}

.carousel-root {
  display: flex;
  justify-content: center;
  margin-top: auto;
} */

/* My Experiences */
/* 
table {
  table-layout: fixed;
  width: 60%;
}

td {
  padding-top: 5%;
}

.square {
  width: 30%;
}

.rectangle {
  width: 50%;
}

.html-img,
.npm-img {
  text-align: right;
}

.css-img,
.mongodb-img {
  text-align: left;
}

.my-experiences p {
  font-size: 1.25rem;
  padding-top: 5%;
  text-align: center;
}

.my-experiences h1 {
  font-size: 2rem;
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
} */

/* Contact Me */

/* .contact-me img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.contact-me h1 {
  color: white;
  font-size: 2rem;
  margin-bottom: 3%;
  text-align: center;
}

.contact-me table {
  font-size: 1.25rem;
  margin-top: 2%;
}

.contact-me a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
} */
